<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recuperación de Cuenta - ADIPA</title>
</head>
<body>
<p th:text="${mensaje}"></p>
<p>¡Hola!,</p>
<p>Recibes este correo electrónico porque has solicitado recuperar tu contraseña de nuestra aplicación.</p>
<p style="color: #e84f4f">Tu contraseña actual es: 021</p>
<p>Si no has solicitado esta acción, puedes ignorar este correo electrónico.</p>
<p>Gracias,</p>
<p style="color: #1f86c9">ADIPA - Aplicación Móvil de Disponibilidad de Aparcamientos</p>
</body>
</html>