#root {
  margin: 0 auto;
  padding: 2rem;
  background-color: gray;
  text-align: center;
}


.transfom {
  transform: rotate(30deg);
}

.transfomAll {
  transform: rotate(-20deg);
}
.transfomAll2 {
  transform: rotate(20deg);
}
